/* login.html stylesheet */
.container {
	position:absolute;
	width: 350px;
	height: 210px;
	/*border:1px solid black;*/
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}

.titlePanel {
	position: relative;
	width: 350px;
	height: 50px;
	/*background-color: rgb(12,0,70);*/
	margin-bottom: 20px;
}

.titlePanel > h1 {
	/*position: absolute;*/
	color: rgb(4, 1, 25);
	font-family: sans-serif;
	font-weight: normal;
	font-size: 45px;
	margin: 0;
	padding:0;
	top:15px;
	left: 10px;
	text-align: center;
}

.loginButton {
	position: relative;
	height: 150px;
}

#loginBtnImg {
	position: relative;
	top: 1px;
	width: 350px;
}
